sudo: false

cache:
    directories:
      - $HOME/.composer/cache
      
language: php
php:
    - 7.1
    - 7.2
    - 7.3
    - 7.4snapshot

before_script:
    - composer self-update
    - composer install

script: composer test
